/* Header */

li:nth-child(4) {
    text-decoration: underline;
 }
/* Intro */
.projects h5 {
    font-size: 40px;
    font-family: 'Cherry Bomb One', cursive;
    text-align: center;
    margin-top: 70px;
}
.photome {
    height: 400px;
    margin-bottom: 150px;
}
p {
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0px;
}

@media all and (max-width: 1200px) {
    p {
        font-size: 18px;
    }
}

@media all and (max-width: 991px) {
   p {
       margin-left: 100px;
       font-size: 15px;
   }
}

@media all and (max-width: 770px) {
    .photome {
        height: 235px;
    }
    p {
        font-size: 11px;
        margin-left: 30px;
    }
    .lastp {
        margin-left: 30px;
        margin-top: 0px;
    }
    .foot {
        margin-left: 0px;
    }
}

@media all and (max-width: 520px) {
    .photome {
        height: 250px;
    }
    p {
        font-size: 11px;
    }
    .marginp {
        margin-left: 30px;
    }
}

@media all and (max-width: 480px) {
    .photome {
        height: 225px;
    }
    .marginp {
        margin-left: 30px;
    }
}