
/* Header */

li:nth-child(3) {
    text-decoration: underline;
 }
 /*Title*/
 .resume h5 {
    font-size: 40px;
    font-family: 'Cherry Bomb One', cursive;
    text-align: center;
    margin-top: 70px;
}
hr {
    border-top: 1px solid black !important;
    width: 1000px;
    margin-bottom: 50px !important;
}
 /*Card*/
 .card {
    margin-top: 10px;
    margin-bottom: 200px;
}
.card-title {
    font-size: 20px;
    margin-top: 30px;
}
.card-text {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-top: 30px;
}
.icon {
    width: 55px;
}

/*form*/
.form-group {
    font-family: 'Nunito', sans-serif;
    font-size: 16px !important;
}
.btn {
    background-color: #F99100 !important;
    border: 1px solid #F99100 !important;
    color: black !important;
    margin-top: 15px;
}
.btn:hover {
    box-shadow: 5px 5px #c5c5c5;
}

@media all and (max-width: 1000px) {
    .card {
        width: 370px;
    }
    label {
        font-size: 12px;
    }
    .form-group {
        height: 55px;
    }
    .btn {
        margin-top: 60px;
    }
}

@media all and (max-width: 770px) {
    .card {
        width: 650px;
        margin-right: auto;
        margin-left: auto;
    }
    .form-group1 {
        margin-top: -175px;
    }
    .form-group {
        width: 650px !important;
        margin-right: auto;
        margin-left: auto;
    }
    .btn {
        margin-bottom: 50px;
    }
}

@media all and (max-width: 767px) {
    .card {
        width: 500px;
    }
    .form-group {
        width: 500px !important;
    }
}

@media all and (max-width: 525px) {
    .card {
        width: 450px !important;
    }
    .form-group {
        width: 450px !important;
    }
    .card-title {
        font-size: 14px;
        margin-top: -5px;
    }
    .card-text {
        font-size: 14px;
    }
}

@media all and (max-width: 480px) {
    .card {
        width: 350px !important;
    }
    .form-group {
        width: 350px !important;
    }
    .btn {
        margin-left: 20px;
    }
}

@media all and (max-width: 320px) {
    .card {
        width: 280px !important;
    }
    .form-group {
        width: 280px !important;
    }
    .btn {
        margin-left: 0px;
    }
}