
/* Header */

li:nth-child(5) {
    font-weight: bold;
    text-decoration: underline;
 }
 /*Title*/
 .resume h5 {
    font-size: 40px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 0px;
}
hr {
    border-top: 1px solid black !important;
    width: 1000px;
    margin-bottom: 50px !important;
}
 /*Card*/
 .card {
    margin-top: 10px;
    margin-bottom: 200px;
}
.card-title {
    font-size: 20px;
    margin-top: 30px;
}
.card-text {
    font-size: 16px;
    font-family: 'open sans';
    margin-top: 30px;
}
.icon {
    width: 55px;
}

/*form*/
.form-group {
    font-family: 'open sans' !important;
    font-size: 16px !important;
    margin-bottom: 7px !important;
}
.btn {
    background-color: #B9B098 !important;
    color: black !important;
    border: 1px black solid !important;
    margin-top: 12px;
    margin-left: 0px !important;
}
.btn:hover {
    border: 1px solid black !important;
    box-shadow: 5px 5px #c5c5c5;
}

@media all and (max-width: 1000px) {
    .card {
        width: 370px;
    }
    label {
        font-size: 12px;
    }
    .form-group {
        height: 55px;
    }
    .btn {
        margin-top: 60px;
    }
}

@media all and (max-width: 770px) {
    .card {
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    .form-group1 {
        margin-top: -175px;
    }
}

@media all and (max-width: 500px) {
    .card {
        width: 350px;
    }
    .form-group1 {
        margin-left: 35px;
        margin-right: 35px;
    }
}

@media all and (max-width: 400px) {
    .card {
        width: 300px;
    }
    .card-title {
        font-size: 16px;
        margin-top: -5px;
    }
    .card-text {
        font-size: 14px;
    }
}