body {
    background-color: #E7DCD5 !important;  
}
/* Header */

li:nth-child(9) {
    font-weight: bold;
    text-decoration: underline;
 }
 /*Title*/

 .myworkheader {
    margin-top: 70px;
}
.work h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px !important;
    font-weight: normal !important;
    text-align: center;
    color: black;
    margin-top: 50px !important;
}
.work img {
    height: 30px;
    margin-left: 15px;
    margin-top: 60px;
}
.work {
    display: flex;
    justify-content: center;
}
.card-title {
    font-size: 25px;
    margin-top: 30px;
}
.card-text {
    font-size: 20px;
    font-family: 'open sans';
    margin-top: 30px;
}
.icon {
    width: 60px;
}
.card {
    margin-top: 10px;
}
.container {
    margin-bottom: 200px;
    margin-top: 50px;
}
.btn {
    background-color: #AA7160 !important;
    border: none !important;
    margin-top: 12px;
    margin-left: 0px !important;
}
.form-group {
    font-family: 'open sans' !important;
    font-size: 16px !important;
    margin-bottom: 7px !important;
}
.btn:hover {
    border: 1px solid black !important;
    box-shadow: 5px 5px #c5c5c5;
}