body {
    background-color: white !important;
}
hr {
    border-top: 2px solid black !important;
    width: 1100px;
    margin-bottom: 50px !important;
}
.background {
    background-image: url();
    background-size: 100% 100%;
}
/* nav */
.nav-link { 
    color: black !important;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin-left: 100px;
}
.nav-link:hover {
    text-decoration: underline !important;
}
.logotop {
    width: 200px;
    margin-top: 10px !important;
    margin-left: 50px;
}
.navbar-toggler-icon {
    width: 40px !important;
    height: 40px !important;
}
/* footer */
footer {
    background-color: #C76D55;
}
.footerlogo {
    width: 200px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.f-heading {
    font-size: 20px !important;
    color: black;
    font-family: 'Nunito', sans-serif;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    border: 2px solid #F99100 !important;
    text-align: center;
}
.f-content {
    color: black;
    font-family: 'open sans';
    font-size: 16px;
    margin-right: 0px;
}
.f-icon {
    width: 30px;
    margin-right: 10px;
}
.col-md-3 {
    text-align: center;
}
#page-container {
    position: relative;
    min-height: 120vh;
}
#footer {
    height: 500px;
}

@media all and (max-width: 1200px) {
    hr {
        width: 900px;
    }
}

@media all and (max-width: 1100px) {
    .nav-link {
        font-size: 13px;
    }
}

@media all and (max-width: 1024px) {
    .f-heading {
        font-size: 16px !important;
    }
    .f-content {
        font-size: 12px;
    }
    .col-md-5 {
        margin-right: auto;
        margin-left: auto;
    }
    hr {
        width: 700px;
    }
    .logotop {
        width: 140px;
        margin-top: 10px !important;
        margin-left: 10px;
    }
}

@media all and (max-width: 991px) {
    .nav-link {
        font-size: 15px !important;
        margin-top: 25px;
        margin-left: 20px !important;
    }
}

@media all and (max-width: 770px) {
  
    .f-content {
        margin-top: 0px;
    }
    .f-heading {
        width: 170px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #footer {
        height: 275px;
    }
    .firstcontent {
        margin-top: -25px;
    }
    #footer {
        height: 850px;
    }
    hr {
        width: 450px;
    }
}

@media all and (max-width: 500px) {
    hr {
        width: 350px;
    }
}

@media all and (max-width: 350px) {
    hr {
        width: 250px;
    }
}