body {
    background-color: #EDE8D8 !important ;
}
/* nav */
.nav-link { 
    color: black !important;
    font-family: lao;
    font-weight: normal !important;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 100px;
}
.nav-link:hover {
    text-decoration: underline;
}
.navbar-nav {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.logotop {
    width: 170px;
}

@media all and (max-width: 1024px) {
    .nav-link {
        font-size: 13px;
    }
}
/* footer */
footer {
    background-color: #CDB7A1;
}
.f-heading {
    font-size: 25px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    margin-top: 50px;
}
.f-content {
    color: black;
    font-family: 'open sans';
    font-size: 16px;
    margin-right: 100px;
}
.f-icon {
    width: 30px;
    margin-right: 10px;
}
#page-container {
    position: relative;
    min-height: 120vh;
}
#footer {
    height: 370px;
}

@media all and (max-width: 1024px) {
    .f-heading {
        font-size: 16px !important;
    }
    .f-content {
        font-size: 12px;
    }
}