body {
    background-color: #F0ECE1 !important ;
}
/* nav */
.nav-link { 
    color: black !important;
    font-family: 'Roboto Mono', monospace !important;
    font-weight: normal !important;
    font-size: 16px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 0px;
}
.nav-link:hover {
    text-decoration: underline;
}
.navbar-nav {
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}
.logotop {
    width: 130px;
    margin-top: 0px !important;
    margin-left: 50px;
}
/* footer */
footer {
    background-color: #ABB2A7;
}
.f-heading {
    font-size: 25px;
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    margin-top: 50px;
}
.f-content {
    color: black;
    font-family: 'open sans';
    font-size: 16px;
    margin-right: 100px;
}
.f-icon {
    width: 30px;
    margin-right: 10px;
}
#page-container {
    position: relative;
    min-height: 120vh;
}
#footer {
    height: 370px;
}

@media all and (max-width: 1100px) {
    .nav-link {
        font-size: 13px;
    }
}

@media all and (max-width: 1024px) {
    .f-heading {
        font-size: 16px !important;
    }
    .f-content {
        font-size: 12px;
    }
    .col-md-5 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (max-width: 770px) {
    .f-heading {
        display: none;
    }
    .link {
        display: none;
    }
    .f-content {
        margin-top: 20px;
    }
    #footer {
        height: 275px;
    }
    .firstcontent {
        margin-top: -25px;
    }
}