
li:nth-child(1) {
    font-weight: normal !important;
    text-decoration: none!important;
 }
/* Home */
.photome {
    width: 400px;
    margin-bottom: 70px;
}
.intro h6 {
    font-size: 40px !important;
    font-weight: normal;
    font-family: 'Cedarville Cursive', cursive;
    text-align: left;
}
.mytitle {
    font-size: 12px !important;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
}
.intro {
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

@media all and (max-width: 1200px) {
    .photome {
        width: 350px;
    }
    .intro h6 {
        font-size: 30px !important;
    }
    .mytitle {
        font-size: 10px !important;
    }
    .intro {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    .photome {
        width: 275px;
    }
    .intro h6 {
        font-size: 25px !important;
    }
    .mytitle {
        font-size: 10px !important;
    }
    .intro {
        font-size: 11px;
    }
}

@media all and (max-width: 770px) {
    .photome {
        width: 220px;
    }
    .intro2 {
        margin-left: -200px;
    }
}

@media all and (max-width: 450px) {
    .photome {
        width: 175px;
    }
    .intro h6 {
        font-size: 25px !important;
        margin-left: 15px;
    }
    .mytitle {
        margin-left: 20px !important;
    }
    .intro {
        margin-left: -170px;
    }
    .intro1 {
        margin-top: 40px;
    }
}