
 li:nth-child(1) {
    text-decoration: none !important;
 }
/* Home */
.photome {
    width: 270px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.intro h6 {
    margin-top: 70px;
    font-size: 40px !important;
    font-weight: normal;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.mytitle {
    font-size: 12px !important;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
    text-align: center;
}
.intro {
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}

@media all and (max-width: 1440px) {
    .intro {
        margin-right: 0px;
    }
}

@media all and (max-width: 1200px) {
    .photome {
        width: 350px;
    }
    .intro {
        font-size: 14px;
    }
}

@media all and (max-width: 1000px) {
    .photome {
        width: 275px;
    }
    .mytitle {
        font-size: 10px !important;
    }
    .intro {
        font-size: 11px;
    }
    .intro h6 {
        font-size: 35px !important;
    }
}

@media all and (max-width: 770px) {
    .photome {
        width: 300px;
    }
    .intro2 {
        margin-left: -200px;
    }
    .col-md-5 {
        margin-right: 30px !important;
        margin-left: 30px !important;
    }
    .intro h6 {
        font-size: 30px !important;
    }
    .mytitle {
        font-size: 9px !important;
    }
}

@media all and (max-width: 500px) {
    .intro h6 {
        font-size: 25px !important;
    }
    .mytitle {
        font-size: 7px !important;
    }
}

@media all and (max-width: 450px) {
    .photome {
        margin-top: 50px;
        width: 175px;
    }
    .intro h6 {
        font-size: 20px !important;
        margin-left: 15px;
    }
    .mytitle {
        margin-left: 20px !important;
        font-size: 6px !important;
    }
    .intro {
        margin-left: -170px;
    }
    .intro1 {
        margin-top: 40px;
    }
}