
li:nth-child(1) {
    font-weight: normal !important;
    text-decoration: none!important;
 }
/* Home */
.photome {
    width: 400px;
    margin-bottom: 70px;
}
.intro h6 {
    font-size: 40px !important;
    font-weight: normal;
    font-family: 'Cedarville Cursive', cursive;
    text-align: left;
}
.mytitle {
    font-size: 12px !important;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 20px;
}
.intro {
    font-size: 17px;
    font-family: 'Roboto Mono', monospace;
}