li:nth-child(1) {
    font-weight: bold;
    text-decoration: underline;
 }

/*display image*/

.display {
    width: 650px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Banners*/

.banner {
    background-color: #A1706C;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 50px;
}
.bannerlast {
    background-color: #C76D55
}

/*Typography*/

h1 {
    font-family: 'Cherry Bomb One', cursive;
    text-align: center;
    margin-top: 100px !important;
    font-size: 50px !important;
}
.banner h2 {
    font-family: 'Braah One', sans-serif;
    font-size: 35px;
    margin-top: 35px;
}
.col-sm p {
    font-family: 'Nunito', sans-serif;
    text-align: left;
    font-size: 16px;
}
.left {
    text-align: left !important;
    font-family: 'Merriweather', serif !important;
    font-size: 20px !important;
    margin-top: 20px;
}
.center {
    text-align: center !important;
    font-family: 'Merriweather', serif;
    font-size: 22px;
}
.titles {
    font-family: 'Merriweather', serif;
    font-size: 20px;
}
.col-sm .nextprojtext {
    font-family: 'Cherry Bomb One', cursive;
    text-align: center;
    font-size: 40px;
}

/*Images*/
.spacing {
    margin-bottom: 40px;
}
.doublespacing {
    margin-bottom: 90px;
}
.col-sm img {
    height: 200px;
}
.overview {
    margin-top: 30px;
}
.col-sm .width {
    width: 100%;
    height: 100%;
}
.col-sm .widthdesktop {
    width: 100%;
    height: 100%;
}
.col-sm .widthmobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

/*User Research*/

.btn {
    background-color: #AA7160 !important;
    border: none !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:hover {
    border: 1px solid black !important;
    box-shadow: 5px 5px #c5c5c5;
}
.nextproject {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.needborder {
    border: 1px solid black !important;
}

/*Side Nav*/

#sidenav {
    background-image: url(../images/Lines.png);
    background-size: contain;
    position: fixed;
    top: 200px;
    left: 50px;
    background-position: top left;
    padding-left: 30px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-right: 1100px;
}
#sidenav a {
    display: block;
    margin-bottom: 54px;
    color: black;
}
#sidenav a:last-child {
    margin-bottom: 0;
}
.nav1 {
    margin-top: -8px;
}
#bottomnavbar {
    display: none;
}

@media all and (max-width: 1400px) {
    #sidenav {
        display: none;
    }
}

@media all and (max-width: 1000px) {
    h1 {
        font-size: 40px !important;
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .display {
        margin-bottom: 50px !important;
        width: 500px;
    }
    .nextproject {
        width: 500px;
    }
}

@media all and (max-width: 700px) {
    h1 {
        font-size: 35px !important;
    }
    h2 {
        font-size: 30px !important;
        margin-top: 40px !important;
    }
}

@media all and (max-width: 550px) {
    .display {
        width: 400px;
    }
    h2 {
        font-size: 25px !important;
    }
    .nextproject {
        width: 400px;
    }
}

@media all and (max-width: 400px) {
    .display {
        width: 300px;
    }
    h1 {
        font-size: 25px !important;
    }
    .nextprojtext {
        font-size: 25px !important;
    }
    .nextproject {
        display: 200px !important;
    }
}