/* Header */

li:nth-child(1) {
    text-decoration: underline;
 }
/* Title */


.projects h5 {
    margin-top: 70px;
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
}
.first {
    margin-top: 50px !important;
    margin-bottom: 0px !important ;
}
/* Projects */

.display {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 10px;
}

.displayphone {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.col-md-5 {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 2%;
    border-radius: 5px;
}
.col-md-5:hover {
    box-shadow: 5px 5px 5px 5px #b9b9b9;
}
.last {
    margin-bottom: 50px;
    margin-top: 0px;
}
h1 {
    font-size: 20px !important;
    text-align: left;
    margin-bottom: 10px !important;
    margin-top: 50px !important;
    font-family: 'Roboto Mono', monospace;
    color: black;
}
.p {
    font-family: 'open sans';
    color: black;
    font-size: 18px;
    text-align: left;
}
a:hover {
    text-decoration: none !important;
}
a:visited {
    text-decoration: none !important;
}


@media all and (max-width: 1200px) {
    .col-md-5 {
        margin-right: auto;
        margin-left: auto;
    }
}

@media all and (max-width: 1000px) {
    .display {
        width: 300px;
    }
    .displayphone {
        width: 270px;
        margin-bottom: 70px;
    }
}

@media all and (max-width: 770px) {
    .col-md-5 {
        margin-right: 30px !important;
        margin-left: 30px !important;
}
}

@media all and (max-width: 767px) {
    .display {
        width: 450px;
    }
    .displayphone {
        width: 400px;
    }
}

@media all and (max-width: 600px) {
    .display {
        width: 350px;
    }
    .displayphone {
        width: 350px;
    }
}