/* Header */

li:nth-child(2) {
    font-weight: bold;
    text-decoration: underline;
 }

 /* title */

 .projects h5 {
    font-size: 40px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 70px;
}
 /*Cards*/
 
.first {
    margin-top: 100px;
    margin-bottom: -70px;
}
.card {
    height: 500px;
    background-color: white!important;
    border: 1px black solid !important;
}
.card-title {
    margin-bottom: 20px !important;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
}
.card-text {
    font-family: 'open sans';
    font-size: 18px;
}
/*Tools*/

.toolsbar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
h4 {
    font-size: 25px;
    font-weight: bold !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}
.toollist p {
    font-family: 'open sans';
    font-size: 16px;
    text-align: center;
    margin-bottom: 0px;
}


@media all and (max-width: 1000px) {
    .card {
        height: 450px;
    }
    .card-title {
        font-size: 18px;
    }
    .card-text {
        font-size: 16px;
    }
}

@media all and (max-width: 770px) {
    .one {
        margin-bottom: 25px;
    }
}