/* Header */

li:nth-child(3) {
    font-weight: bold;
    text-decoration: underline;
 }
 /* button */

 .btn {
    background-color: #B9B098 !important;
    border: 1px solid black !important;
    padding: 5% !important;
    color: black !important;
    margin-bottom: 25px;
}
.btn:hover {
    box-shadow: 5px 5px #c5c5c5;
}
 /*Title*/
 
 .resume h5 {
    font-size: 40px;
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    margin-top: 0px;
}
hr {
    border-top: 1px solid black !important;
    width: 1000px;
    margin-bottom: 50px !important;
}
/* resume */

.resume img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 0px !important;
}
.resume2 {
    margin-bottom: 20px;
}
a:hover {
    text-decoration: none !important;
}
a:visited {
    text-decoration: none !important;
    color: black !important;
}